.links-vertical a {
    display: block;
    margin-top: 10px;
}

.form__update {
    display: inline-block;
}

ul>li>a {
    color: #636b6f;
    text-decoration: none;
}

ul>li>a:hover {
    color: #636b6f;
    text-decoration: underline;
}

.important {
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: rgb(99, 107, 111);
    font-weight: bold;
}

button[type="submit"],
input[type="submit"] {
     border-radius: 5px;
     border: 1px solid #333;
     background: #fff;
     padding: 5px;
     cursor: pointer;
     margin: 10px;
 }

button[type="submit"]:hover,
input[type="submit"]:hover {
    background: #333;
    color: #fff;
}
